*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #222;
}

h1{
    text-align: center;
    color: #fff;
}

.contenedor{
    width: 60%;
    margin: auto;
    border-radius: 20px;
    padding: 20px 10px;
    background-color: #111;
    box-shadow: 0px 0px 10px 3px #fff;
}

form{
    color: #fff;
}

.inputContainer{
    margin: auto;
    width: 80%;
    margin-top: 15px;
    margin-bottom: 15px;
}

label{
    font-size: 20px;
}

input[type="text"],input[type="number"]{
    display: block;
    width: 100%;
    border-radius: 2px;
    margin-top: 4px;
    padding: 8px;
    border: none;
    font-size: 16px;
    background-color: transparent;
    border-bottom: 2px solid #4f1;
    border-radius: 10px;
    color: yellowgreen;
}

input[type="text"]::placeholder,input[type="number"]::placeholder{
    font-family: sans-serif;
    font-size: 16px;
    color: rgb(98, 140, 87);
}

textarea{
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
    color: yellowgreen;
    border-radius: 2px;
    margin-top: 4px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #4f1;
    border-radius: 10px;
    resize: vertical;
    min-height: 40px;
    max-height: 100px;
}

textarea::content{
    font-size: 16px;
    color: yellowgreen;
    font-family: sans-serif;
}

textarea::placeholder{
    font-size: 16px;
    color: rgb(98, 140, 87);
    font-family: sans-serif;
}

.contenedorBoton{
    width: 60%;
    margin: auto;
    text-align: center;
}

input[type="submit"]{
    margin: auto;
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    background-color: #203d15;
    border-radius: 10px;
    border: 2px solid rgb(47, 137, 17);
    padding: 7px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover{
    background-color: #42b917;
    cursor: pointer;
}

.error{
    color: rgb(238, 76, 76);
}

select{
    background-color: transparent;
    width: 100%;
    color: yellowgreen;
    border: 1px solid #4f1;
    border-radius: 5px;
}

option{
    color: yellowgreen;
    background-color: #111;
}